body{
    margin: 0;
    height: 100vh;
   
}

/* Main container grid*/
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
 
    width: 100%;
    height: 100%;
    gap: 10px;
}
.header{
    display: grid;
    background-color: #ffffff;
    grid-column:2 / 3;
   
}
.sidebar{
    display: grid;
    background-color:#12a4d9;
    grid-row: 1/4 ;
    align-items: start;
    grid-auto-rows: min-content;
    gap: 15px;
    
}
img{
    width: 40px;
    
}
.content{
    background-color:lightslategray;
}
ul{
    list-style-type: none;
   
}
.logo{
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
   font-size: 2rem;
   margin: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: aliceblue;
}
 .branding  li, .nav  li{
    display: grid;
    font-size: 20px;
    color: white;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
    margin: 10px;
    justify-content: start;
    
}
/* Search bar styling*/
.search{
    display: flex;
    
    align-items: center;
    
}
.searchbtn{
    background: none;
    border: none;
    


}
.profile{
   display: grid;
   grid-template-columns: repeat(3,auto);
   align-items: center;
   justify-content: end;
   gap: 20px;
}

input{
    border-radius: 60px;
    width: 50%;
    height: 50%;
    flex: 1;
   
}

.profile_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
   
}
.wrap{
    display: grid;
    margin: 20px;
}

.bar{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;

}


.user{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
}



